<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Johns Todo App</title>
  </head>
  <body>
    <h1>Johns Todo List</h1>
    <div>Add a new item to John's list:
      <form action="{{ url_for('add') }}" method="post">
        <input type="text" name="todoitem">
        <input type="submit" value="Add To List">
      </form>
    </div>
    <div>
          <h2>Yet To Be Done</h2>
          <ul>
            {% for todo in incomplete %}
            <li style="font-size: 40pt">{{ todo.text }} <a href="{{ url_for('complete', id=todo.id) }}">Move To Done</a></li>
            {% endfor %}
          </ul>
          <h2>Items Done</h2>
            <ul>
            {% for todo in complete %}
            <li style="font-size: 40pt">{{ todo.text }}</li>
            {% endfor %}
          </ul>
    </div>
  </body>
</html>
